.home {
  background-image: url(assets/wave.svg);
  background-repeat: no-repeat;
  background-position: top center;
}

.placeholder {
  background: #f6f7f8;
  min-height: 300px;
}

.cursor-pointer {
  cursor: pointer !important;
}

.text-shadow {
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}

.btn-primary {
  color: #fff;
  background-color: #101749;
  border-color: #101749;
}

.btn-primary:hover {
  color: #fff;
  background-color: #090d2a;
  border-color: #070a1f;
}

.cartoonize__button {
  height: 32px;
  cursor: pointer;
}